# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

# Virtual environment
venv
.env

# Docker
Dockerfile
docker-compose.yml

# IDEs
.vscode
.idea

# Project specific
README.md
*.md
